.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  padding-top: 38px;

  &__btn {
    display: none;
    width: 31px;
    height: 25px;

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  
  &__btn-bar {
    height: 2px;
    background-color: #191919;
    border-radius: 1px;
  }

  &__nav  {

    @include tablet {
      display: none;
    }

    &--active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 75px;
      left: 50px;
    }

    & a {
      font: 600 12px/2 'Montserrat', sans-serif;
      text-transform: uppercase;
      color: #191919;
      line-height: 32px;

      &:hover {
        color: #10c9c3;
      }

      & + & {
        margin-left: 30px;
      }
    }
  }
}