.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  padding-top: 38px;

  &__nav a {
    font: 600 12px/2 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #191919;
    line-height: 32px;
  }

  &__nav a:hover {
    color: #10c9c3;
  }
  &__nav a + a {
    margin-left: 30px;
  }
}