*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  margin: 0;
  color: #787878;
  font: 400 16px/1.5 'Nunito Sans', sans-serif;;
  background-color: #f4f6f8;
  letter-spacing: 1.2px;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: #111;
}
a, a:hover{
  text-decoration: none;
}
img{
  max-width: 100%;
}
input, textarea, button{
  outline: none;
  border: none;
}
textarea{
  resize: vertical;
}
button{
  cursor: pointer;
}
label{
  margin-bottom: 0;
}
select, select:hover{
  color: inherit;
  background: #fff;
}
option, option:hover{
  color: inherit;
  background: #fff;
}
::-webkit-input-placeholder {transition: all .3s linear;   color: rgba(255, 255, 255, .8);}
::-moz-placeholder          {transition: all .3s linear;   color: rgba(255, 255, 255, .8);}
:-moz-placeholder           {transition: all .3s linear;   color: rgba(255, 255, 255, .8);}
:-ms-input-placeholder      {transition: all .3s linear;   color: rgba(255, 255, 255, .8);}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}